:root {
	--layout-padding: 40px;
	--blue-color: #538ca4;
	--gray-color: #83847f;
	--heading-two-size: 1.4em;
}


/* layout */
body {
	padding: var(--layout-padding);
	background: #fff;
	font: 15px;
}

@media print {
    body  {
        width: 21cm;
        height: 29.7cm;
        margin: 27mm 16mm 27mm 16mm;
   } 
}

@media screen {
	body {
		line-height: 1.4;
		margin: 2.5em 0;
		margin-bottom: 100px;
	}
}

/* common */
.container {
	text-align: left;
}

.basics__left__title--black{
	font-size: 2rem;
}

.heading {
	font-size: 2.3em;
	margin-bottom: 0;
	font-weight: 700;
}

h2 {
	font-size: var(--heading-two-size);
}

li {
	list-style: none;
	color: var(--gray-color);
}

.basics__left__text--blue {
	font-size: var(--heading-two-size);
	color: var(--blue-color);
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

section {
	margin-bottom: 2em;
}

blockquote {
	margin: 0;
	margin-bottom: 1em;
}

.item {
	margin-bottom: 1em;
}

.key-value-item {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 0.5em;
}

.key-value-item label, 
.key-list-item label {
	white-space: nowrap;
	color: var(--blue-color);
	margin-right: 5px;
}

.key-value-item span {
	white-space: normal;
}

.content {
	position: relative;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
}

.picture {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-bottom: 2cm;
}

.picture img {
	border-radius: 50%;
}

.basics {
	display: flex;
	width: 100%;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: center;

}

.basics__left {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-right: auto;
}

.basics__right {
	display: flex;
	width: 50%;
}

.basics__left--summary {
	width: 70%;

}

.resume__lower {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.resume__lower__left {
	width: 40%;
}

.resume__lower__right {
	width: 50%;
	padding-left: 2em;
}

@media screen and (max-width:889px){
	.basics__left {
		width: 100%;
		
		text-align: center;
		margin: 0 auto;
	}
	.basics__left__text {
		display: flex;
		justify-content: center;
	}
	.basics__left--summary {
		width: 100%;
		align-items: center;
	}
	.basics__right {
		justify-content: center;
	}
	span {
		width: 100%;
	}
	.resume__lower {
		justify-content: center;
		text-align: center;
	}
	.resume__lower__left {
		width: 100%;
	}
	.resume__lower__right {
		width: 100%;
	}
}